@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
    --primaryColor: #be9c79;
    --secondaryColor: #666666;
    --tertiaryColor: #333333;
    --ffPrimary: "Nunito Sans", serif;
    --ffSecondary: "Merienda", serif;
}
.logo img{
    width: 20%;
}
body {
    font-family: var(--ffPrimary);
}

h1,
h2 {
    font-family: var(--ffSecondary);
}
